/* Container */
#myday {
  padding: 2em;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

/* Daily diary's title & date */
#date {
  font-weight: bold;
  font-size: 1.3em;
}

#title {
  font-style: italic;
  font-size: 1.1em;
  padding: 2em;
}

/* Items' list */

/* By id */
#list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#sleep {
  span:nth-of-type(3) {
    color: grey;
    font-style: italic;
  }
}

/* By classname */
.infos {
  padding: 1em;
}

.list-item {
  font-weight: bold;
  font-size: 1.3em;
}

.time {
  font-weight: bold;
  font-size: 1.3em;
  color: grey;
}

.note {
  font-size: 0.9em;
}

/* By element */
span {
  padding: 1em;
  position: left;
}

input {
  width: 30rem;
  padding: 1em;
  margin-bottom: 1em;
}

/* Particular notes */
#particular-note {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
}
