#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1em;
  width: 60%;
  margin-bottom: 10rem;
  & Button {
    background-color: white;
    border: 1.3px solid #D7E8F2;
    
  }

  & h3 {
    width: 100%;
    text-align: center;
    display: block;
    color : #D7E8F2;
    font-size: 2em;
    margin-bottom: 0.3em;
  
  }

  & #contact-table {
    padding: 1em;
    border-radius: 25px;
    flex-wrap: wrap;
    border: 1px solid #C2DE89;

    & .delete-contact {
      text-align: center;
    }

    & Button {
      background-color: white;
      color: #D7E8F2;
      border-radius: 25px;
      margin-top: 1em;
      border: 2px solid #D7E8F2;
    } 
  }
  
  & #contact-add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    & .ui.input {
      width: 47%;

      & input{
        width: auto;
        border: 1px solid #C2DE89;
        border-radius: 25px;
      }
    }


    & Button {
      background-color: white;
      color: #D7E8F2;
      border-radius: 25px;
      margin-top: 1em;
      border: 2px solid #D7E8F2;
      margin-top: 0;
    }

   
    
  }
  
  & .icon:hover {
    cursor: pointer;
  }
  
  
  & label {
    padding-left: 1em;
  }
}


@media all and (orientation: portrait) {
  #contacts {
    width: 90%;
  
    & Button {
      background-color: white;
      border: 1.3px solid #D7E8F2;
      
    }
  
    & h3 {
      width: 100%;
      text-align: center;
      display: block;
      color : #D7E8F2;
      font-size: 2em;
      margin-bottom: 0.3em;
    
    }
  
    & #contact-table {
      padding: 1em;
      border: none;
      display: flex;
      justify-content: center;

      & .table-header {
        display: none;
      }

      & tr {
        width: 100%;
        text-align: center;
      }
      
      
  
      & .delete-contact {
        text-align: center;
        margin: 0;
      }
  
      & Button {
        background-color: white;
        color: #D7E8F2;
        border-radius: 25px;
        margin-top: 1em;
        border: 2px solid #D7E8F2;
      } 
    }
    
    & #contact-add {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 5em;
      
      & .ui.input {
        width: 90%;
        margin: 1em;
  
        & input{
          width: auto;
          border: 1px solid #C2DE89;
          border-radius: 25px;
        }
      }
  
  
      & Button {
        background-color: white;
        color: #C2DE89;
        border-radius: 25px;
        margin-top: 1em;
        border: 2px solid #C2DE89;
        margin-top: 0;
        margin-bottom: 2em;
      }
  
     
      
    }
    
    & .icon:hover {
      cursor: pointer;
    }
    
    
    & label {
      padding-left: 1em;
    }
  }
  
}
