#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1em;
  width: 70%;
  margin-bottom: 10rem;
  & Button {
    background-color: white;
    border: 1.3px solid #D7E8F2;
    
  }

  & h3 {
    color: #666E72;
    font-family: 'Catamaran', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em;
    margin: 1em 0 1em 0;
    width: 100%;
  
  }

  & #contact-table {
    padding: 1em;
    border-radius: 25px;
    flex-wrap: wrap;
    border: 1px solid #C2DE89;

    & .delete-contact {
      text-align: center;
    }

    & Button {
      background-color: white;
      color: gray;
      border-radius: 25px;
      margin-top: 1em;
      font-size: 1em;
      border: 3px solid #D7E8F2;
    } 
  }
  
  & #contact-add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    & .ui.input {
      width: 45%;

      & input{
        width: auto;
        background-color: #D7E8F2;
        border-radius: 25px;
      }
    }


    & Button {
      background-color: white;
      color: #C2DE89;
      border-radius: 25px;
      margin-top: 1em;
      font-size: 1em;
      border: 2px solid #C2DE89;
      margin-top: 0;
    }

   
    
  }
  
  & .icon:hover {
    cursor: pointer;
  }
  
  
  & label {
    padding-left: 1em;
  }
}


@media all and (orientation: portrait) {
  #contacts {
    width: 90%;
  
    & Button {
      background-color: white;
      border: 1.3px solid #D7E8F2;
      
    }
  
    & h3 {
      width: 100%;
      text-align: center;
      display: block;
      font-size: 2em;
      margin-bottom: 0.3em;
    
    }
  
    & #contact-table {
      padding: 1em;
      border: none;
      display: flex;
      justify-content: left;
      width: 100%;

      & .table-header {
        display: none;
      }

      & .table-body {
        display: flex;
        width: 100% !important;
        flex-wrap: wrap !important;
        & .table-row {
          width: 100% !important;
          display: flex !important;
          align-items: baseline !important;
          text-align: left;
          flex-wrap: wrap !important;
          justify-content: space-between;
          & .table-cell-name {
            width: 30% !important;
            display: flex;
          }
          & .table-cell-mail{
            width: 50% !important;
            display: flex;
          }
          & .delete-contact {
            width: 10% !important;
            display: flex;
            & Button {
              background-color: white;
              font-size: 0.5em;
              
            } 
          }
        }
      }
     
    }
    
    & #contact-add {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 5em;
      
      & .ui.input {
        width: 90%;
        margin: 1em;
  
        & input{
          width: auto;
          border-radius: 25px;
        }
      }
  
  
      & Button {
        
        border-radius: 25px;
        margin-top: 1em;
        margin-top: 0;
        margin-bottom: 2em;
      }
  
     
      
    }
    
    & .icon:hover {
      cursor: pointer;
    }
    
    
    & label {
      padding-left: 1em;
    }
  }
  
}
