#pageLoginNanny {
  display: flex;
  flex-direction: column;
  padding-top : 2em;
  width: 60%;
  margin: auto;


  & h2 {
    color: #2C1915;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    padding: 2em;

  }

  & #formLoginNanny {

    align-items: center;
   

    & input {
      padding: 1em;
      margin: 0.5em;
      justify-content: center;
      border-radius: 25px;
      border: 1px solid #91D7D9; 
    }

    & input::placeholder {
      color: #2C1915;
      font-style: italic;
    }
  
    & button {
      padding: 1em;
      margin: 0.5em; 
      align-self: center;
      width: 100%;
      border-radius: 25px;
      background-color: #C2DE89;
      height: 9vh;
      color: #2C1915;
      text-transform: uppercase;
      
    }
  }


}

@media all and (orientation: portrait) {
  #pageLoginNanny {
    display: flex;
    
    flex-direction: column;
    padding-top : 2em;
    width: 90%;
    margin: auto;
        
  
  
    & h2 {
      color: #2C1915;
      margin: auto;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1rem;
  
    }
  
    & #formLoginNanny {
  
      align-items: center;
     
  
      & input {
        padding: 1em;
        margin: 0.5em;
        justify-content: center;
        border-radius: 25px;
        border: 1px solid #91D7D9; 
      }
  
      & input::placeholder {
        color: #2C1915;
        font-style: italic;
      }
    
      & button {
        padding: 1em;
        margin: 0.5em; 
        align-self: center;
        width: 100%;
        border-radius: 25px;
        background-color: #C2DE89;
        height: 9vh;
        color: #2C1915;
        text-transform: uppercase;
        
      }
    }
  
  
  } 
}
