#parentsNav {
    
    & h2 {
        color: #4c2e27;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        padding: 0.8em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    & .second-menu {
        display: flex;
        justify-content: center;
        text-align: center;
        

        & .second-menu-item {
            width: 20%;
            display: flex;
            justify-content: center;
            padding: 1em 0 1em 0;
            font-size: 1em;
            color: gray;
            border-bottom: 1px solid gray;
            
            margin: 0;

        
        }

        & .active {
            border: 1px solid gray;
            border-bottom: none;
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }
}

@media all and (orientation: portrait) {
    #parentsNav {
    
        & .second-menu {
            display: flex;
            justify-content: center;
            text-align: center;
            
    
            & .second-menu-item {
                width: 32%;
                display: flex;
                justify-content: center;
                padding: 1em 0 1em 0;
                font-size: 1em;
                color: gray;
                border-bottom: 1px solid gray;
                background-color: #EEE9E6;
                margin: 0;
    
            
            }
    
            & .active {
                border: 1px solid gray;
                border-bottom: none;
                background-color: white;
                color: black;
                font-weight: bold;
            }
        }
    }
}