#parentsNav {
    margin: auto;
    background-color: white;
    margin-top: 0em;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & h2 {
        color: #666E72;
        font-family: 'Catamaran', sans-serif;
        margin: auto;
        text-align: center;
        font-size: 1.6em;
        font-weight: bold;
        padding: 0.5em;
        margin-bottom: 1em;
        margin: 1em 0 1em 0;
        width: 100%;
    }

    & .second-menu {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 80%;
        
        
       

        & .second-menu-item {
            width: 35%;
            display: flex;
            justify-content: center;
            height: 4em;
            font-size: 0.8em;
            color: gray;
            border-bottom: 1px solid gray;
            border-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin: 0;
        }

        & .active {
            
            border: 1px solid gray;
            border-bottom: none;
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }
}

@media all and (orientation: portrait) {
    #parentsNav {
    
        & .second-menu {
           
            width: 1000%;
    }
}
}
