#mainMenu{
    width: 100%;
    background-color: #FCFEFF;
}

#mainNav {
    padding: 1em;
    padding-left: 3.5em;
    width: 100%;
    text-align: left;
}

.accordionTitle {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: .5em;
    color: #393D40;
    text-transform: uppercase;
    
}

.accordionContent {
    & a {
        color: #393D40;
        list-style: none;
        padding: 1em;
        text-transform: uppercase;
        

    }

    & a:hover {
        color: black;
        
    }
}

