#mainMenu{
    width: 100%;
    background-color: #EEE9E6;
}

#mainNav {
    padding: 1em;
    padding-left: 3.5em;
    width: 100%;
    text-align: left;
}

.accordionTitle {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: .5em;
    color:#2C1915;
    text-transform: uppercase;
}

.accordionContent {
    & a {
        color: #2C1915;
        list-style: none;
        padding: 1em;
        text-transform: uppercase;
        

    }

    & a:hover {
        color: #4c2e27;
        
    }
}

