#pageLoginParents {
  margin: auto;
  background-color: white;
  margin-top: 0em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 

  & h2 {
    color: #666E72;
    font-family: 'Catamaran', sans-serif;
    margin: auto;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 1em;
    margin: 1em 0 1em 0;
    width: 100%;
  }

  & #formLoginParents {

    align-items: start;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    & form {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
       & .inputlogin {
         display: flex;
         width: 100%;
        & input {
          display: flex;
          padding: 1em;
          width: 100%;
          margin: 0.5em;
          justify-content: center;
          border-radius: 25px;
          border: 2px solid #D7E8F2; 
        }
    
        & input::placeholder {
          color: gray;
          font-style: italic;
        }
       }
       & .login-button {
         width: 100%;
         display: flex;
         justify-content: center;
        & button {
          padding: 1.5em;
          margin: 0.5em; 
          align-self: center;
          width: 100%;
          border-radius: 25px;
          background-color: #C2DE89;
          height: 9vh;
          color: black;
          text-transform: uppercase;
        }
       }
  
      & label {
        margin-left: 1em;
        margin-top: 1em;
      }
      
    }

  }


}

@media all and (orientation: portrait) {
  #pageLoginParents {
    width: 100%;

  } 
}
