#pageLoginParents {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  padding: 1em;
  width: 80%;
  margin: auto;
  background-color: white;
  height: 100vh;
  flex-wrap: wrap;


  & h2 {
    color: #2C1915;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    margin: 1em;
    width: 100%;
    display: flex;


  }

  & #formLoginParents {

    align-items: center;
   width: 80%;
   height: 35vh;

    & input {
      padding: 1em;
      margin: 0.5em;
      justify-content: center;
      border-radius: 25px;
      border: 1px solid #D7E8F2; 
    }

    & input::placeholder {
      color: #2C1915;
      font-style: italic;
    }
  
    & button {
      padding: 1em;
      margin: 0.5em; 
      align-self: center;
      width: 100%;
      border-radius: 25px;
      background-color: #C2DE89;
      height: 9vh;
      color: #2C1915;
      text-transform: uppercase;
    }

    & label {
      margin-left: 1em;
      color: red;
      margin-top: 1em;
    }
  }


}

@media all and (orientation: portrait) {
  #pageLoginParents {
    display: flex;
    
    flex-direction: column;
    padding-top : 2em;
    width: 90%;
    margin: auto;
        
  
  
    & h2 {
      color: #2C1915;
      margin: auto;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 1rem;
  
    }
  
    & #formLoginParents {
  
      align-items: center;
     
  
      & input {
        padding: 1em;
        margin: 0.5em;
        justify-content: center;
        border-radius: 25px;
        border: 1px solid #D7E8F2; 
      }
  
      & input::placeholder {
        color: #2C1915;
        font-style: italic;
      }
    
      & button {
        padding: 1em;
        margin: 0.5em; 
        align-self: center;
        width: 100%;
        border-radius: 25px;
        background-color: #C2DE89;
        height: 9vh;
        color: #2C1915;
        text-transform: uppercase;
      }

      & label {
        margin-left: 1em;
        color: red;
        margin-top: 1em;
      }
    }
  
  
  } 
}
